nav{
    background-color: aquamarine;
    width: 100%;
    height: 3rem;

}

ul{
    
}

li{
    width: 25%; 
    height: 100%;
    font-size: larger;
    background-color: red;
    list-style: none     ;
}